@page "/atribuirTarefa"
@using Onboarding_de_clientes_CRM.Data
@inject ApplicationDbContext db
@rendermode InteractiveServer

<section class="row px-5 justify-content-center">

    <section class="col-5">

        <div class="card mt-4 shadow-sm">

            <div class="card-header p-2">
                <h4>Atribuição de Tarefas</h4>
            </div>

            <div class="card-body mt-2">
                <h5><i class="bi bi-person-check text-primary"></i> Escolha o usuário para atribuir a tarefa</h5>
                <article class="row">

                    <div class="col-8">
                        <label>Nome</label>
                        <input class="form-check w-100" @bind="nome" />
                    </div>
                
                    <div class="col-4">
                        <label>Setor</label>
                        <select>
                            @foreach (var s in setores)
                            {
                                <option value="@s">@s</option>
                            }
                           
                        </select>
                    </div>

                    <button class="btn btn-primary w-25 justify-content-end mt-3" @onclick="BuscarCliente">
                        Buscar
                    </button>

                </article>
              
            </div>

        </div>

    </section>

    <section class="col-5">

        <div class="card mt-4 shadow sm">

            <div class="card-header p-2">
                <h4>Usuários</h4>
            </div>

            <div class="card-body mt-2">
                @foreach (var c in clientesSelecionados)
                {
                    <p>@c</p>
                }
               
            </div>

        </div>

    </section>

</section>

@code {
    Cliente cliente;

    string nome;
    string setor;

    List<Cliente> clientesSelecionados = new();

    List<string> setores = new()
    {
        "Selecione", "Marketing","Vendas","Administração","Financeiro","TI","Suporte","Operações"
    };

    void BuscarCliente()
    {
        clientesSelecionados.Clear();

        var clientes = db.Clientes.ToList();

        if (clientes is null) return;

        foreach (var cliente in clientes)
        {
            if (!string.IsNullOrWhiteSpace(cliente.Nome) &&
                cliente.Nome.Contains(nome, StringComparison.OrdinalIgnoreCase))
            {
                clientesSelecionados.Add(cliente);
            }
        }
    }
}
